# Dependencias
node_modules/

# Build
dist/

# Build output
public/assets/

# Entorno
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Scripts temporales
copy_shinies.ps1
